*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica,sans-serif;
}

.container{
     margin: auto;
     display: flex;
}

.sidebar{
    background-color: rgb(55, 55, 206);
    width: 20%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}


.foto{
    border-radius: 50%;
    max-width: 80% ;
    padding: 30px;

}

.nome{
    color: white;
    font-size: 24px;
    padding: 5px;
    
}

.profi{
    padding: 10px;
    color: white
}

.main{
    background-color: rgb(155, 160, 219);
    
    width: 80%;
    height: 100vh;
}

.card{
    border: 5px solid rgb(83, 18, 167);
    padding: 2%;
    border-radius: 16px;
}

.cardname{
    color:rgb(236, 72, 22)
    
}
.imagem{
    width: 200px;
}